In [1]:
import pandas as pd
import math
rank = pd.read_csv('billboard.csv', encoding= 'unicode_escape')
                                                
print(rank)

     year      artist.inverted                                  track  time  \
0    2000      Destiny's Child               Independent Women Part I  3:38
1    2000              Santana                           Maria, Maria  4:18
2    2000        Savage Garden                     I Knew I Loved You  4:07
3    2000              Madonna                                  Music  3:45
4    2000  Aguilera, Christina  Come On Over Baby (All I Want Is You)  3:38
..    ...                  ...                                    ...   ...
312  2000     Ghostface Killah                       Cherchez LaGhost  3:04
313  2000          Smith, Will                            Freakin' It  3:58
314  2000        Zombie Nation                          Kernkraft 400  3:30
315  2000       Eastsidaz, The                               Got Beef  3:58
316  2000               Fragma                         Toca's Miracle  3:22

    genre date.entered date.peaked  x1st.week  x2nd.week  x3rd.week  ...  \
0    Rock   2000-09-23  2000-11-18         78       63.0       49.0  ...
1    Rock   2000-02-12  2000-04-08         15        8.0        6.0  ...
2    Rock   1999-10-23  2000-01-29         71       48.0       43.0  ...
3    Rock   2000-08-12  2000-09-16         41       23.0       18.0  ...
4    Rock   2000-08-05  2000-10-14         57       47.0       45.0  ...
..    ...          ...         ...        ...        ...        ...  ...
312   R&B   2000-08-05  2000-08-05         98        NaN        NaN  ...
313   Rap   2000-02-12  2000-02-12         99       99.0       99.0  ...
314  Rock   2000-09-02  2000-09-02         99       99.0        NaN  ...
315   Rap   2000-07-01  2000-07-01         99       99.0        NaN  ...
316   R&B   2000-10-28  2000-10-28         99        NaN        NaN  ...

     x67th.week  x68th.week  x69th.week  x70th.week  x71st.week  x72nd.week  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
312         NaN         NaN         NaN         NaN         NaN         NaN
313         NaN         NaN         NaN         NaN         NaN         NaN
314         NaN         NaN         NaN         NaN         NaN         NaN
315         NaN         NaN         NaN         NaN         NaN         NaN
316         NaN         NaN         NaN         NaN         NaN         NaN

     x73rd.week  x74th.week  x75th.week  x76th.week
0           NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN
..          ...         ...         ...         ...
312         NaN         NaN         NaN         NaN
313         NaN         NaN         NaN         NaN
314         NaN         NaN         NaN         NaN
315         NaN         NaN         NaN         NaN
316         NaN         NaN         NaN         NaN

[317 rows x 83 columns]

In [2]:
id_rank_max=list(range(0,rank.shape[0]))
rank.insert(0,"id",id_rank_max)

In [3]:
rank_sorted=rank.copy()
del rank_sorted['year']
del rank_sorted['artist.inverted']
del rank_sorted['track']
del rank_sorted['genre']
del rank_sorted['date.entered']
del rank_sorted['date.peaked']
del rank_sorted['id']
del rank_sorted['time']

In [4]:
temp_iter=0
temp=pd.DataFrame()
for column in rank_sorted:      
    temp.insert(temp_iter,column,rank_sorted[column])
    temp_iter=temp_iter+1

In [5]:

data_rank_id=pd.DataFrame()
ready=pd.DataFrame()

temp1=temp.T   
    
temp_add=pd.DataFrame()
for index in range(0,317,1):

    list_index=[index]*76
    
    temp_add=pd.DataFrame({'rank':temp1[index]})
    temp_add.insert(0,'index_of_title',list_index) 
    
     #kolejne daty bycia w rankingu 
    temp_add['date'] = pd.date_range(start=rank['date.entered'][index], periods=len(temp_add), freq='7D')
    
    data_rank_id=pd.concat([data_rank_id,temp_add],axis=0,ignore_index = True)

    
    
data_rank_id=data_rank_id.dropna()
ranking_track_by_date=data_rank_id.sort_values(by=["date",'rank'])
print(ranking_track_by_date)   
title_song_id=rank[["id","track","artist.inverted"]].copy()
print(title_song_id)     
title_song_id.to_csv('list_track')
ranking_track_by_date.to_csv('ranking_track_by_date')

       index_of_title  rank       date
684                 9  81.0 1999-06-05
685                 9  54.0 1999-06-12
686                 9  44.0 1999-06-19
687                 9  39.0 1999-06-26
688                 9  38.0 1999-07-03
...               ...   ...        ...
1875               24  42.0 2001-03-31
12938             170  91.0 2001-03-31
1471               19  46.0 2001-04-07
1876               24  49.0 2001-04-07
12939             170  99.0 2001-04-07

[5307 rows x 3 columns]
      id                                  track      artist.inverted
0      0               Independent Women Part I      Destiny's Child
1      1                           Maria, Maria              Santana
2      2                     I Knew I Loved You        Savage Garden
3      3                                  Music              Madonna
4      4  Come On Over Baby (All I Want Is You)  Aguilera, Christina
..   ...                                    ...                  ...
312  312                       Cherchez LaGhost     Ghostface Killah
313  313                            Freakin' It          Smith, Will
314  314                          Kernkraft 400        Zombie Nation
315  315                               Got Beef       Eastsidaz, The
316  316                         Toca's Miracle               Fragma

[317 rows x 3 columns]

Wnioski:
Dane były trudne do przerobienia. Jak widać są bardzo poszatkowane i niekompletne,
Udało się uzyskać tabelę posortowaną według daty i rankingu piosenki.